.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  img {
    object-fit: contain;
    width: 100px;
  }

  button {
    width: 180px;
    background-color: #1178f2;
    color: #eff2e5;
    font-weight: 600;

    &:hover {
      background-color: white;
      color: #1178f2;
    }
  }
}
